**Practical Questions**

In [ ]:
# Write a code to create a string with your name and print it
Name ='sanjana'
print(Name)

sanjana

In [ ]:
#Write a code to find the length of the string "Hello World"
string='Hello world'
string=len(string)
print(string)

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming"
code ="Python Programming"
code[0:3]

'Pyt'

In [ ]:
#Write a code to convert the string "hello" to uppercase
S='hello'
S.upper()

'HELLO'

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
Word= 'I like apple'
Word.replace('apple','orange')

'I like orange'

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it
p=[1,2,3,4,5]
print(type(p))

<class 'list'>

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
List= [1,2,3,4]
List.append(10)
print(List)

[1, 2, 3, 4, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
List1=[1,2,3,4,5]
List1.remove(3)
print(List1)

[1, 2, 4, 5]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
List2=['a','b','c','d']
print((List2)[1])

b

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
List3=[10, 20, 30, 40, 50]
List3[::-1]

[50, 40, 30, 20, 10]

In [ ]:
 #Write a code to create a tuple with the elements 100, 200, 300 and print it.
 Tuple=(100,200,300)
 print(type(Tuple))

<class 'tuple'>

In [ ]:
 #Write a code to access the second-to-last element of the tuple  ('red', 'green', 'blue', 'yellow')
 tuple = ('red', 'green', 'blue', 'yellow')
 tuple[2]

'blue'

In [ ]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tuple =(10, 20, 5, 15)
print(min(tuple))

5

In [ ]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple= ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [ ]:
#. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [ ]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a','b','c'}
print(type(set))

<class 'set'>

In [ ]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
seta= {1, 2, 3}
setb= {2, 3, 4}
seta&setb

{2, 3}

In [ ]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dic={'name':'sanjana', 'age':'23', 'city':'banglore'}
print(dic)

{'name': 'sanjana', 'age': '23', 'city': 'banglore'}

In [ ]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dic= {'name': 'John', 'age': 25 ,}
dic['country']= 'USA'
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
Dic={'name': 'Bob', 'age': 22, 'city': 'New York'}
del Dic['age']
print(Dic)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
a = {'name': 'Alice', 'city': 'Paris'}
if 'city' in a:
 print('city is present in dictionary')
else:
   print('city is not present in dictionary')

city is present in dictionary

In [ ]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
a=[1,2,3]
b=(4,5,6)
c={'x':7, 'y':8,'z': 9}
print(a,b,c)

[1, 2, 3] (4, 5, 6) {'x': 7, 'y': 8, 'z': 9}

In [ ]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
s=[22,55,99,33,44]
s.sort()
print(s)

[22, 33, 44, 55, 99]

In [ ]:
# Write a code to create a list with strings and print the element at the third index.
h=('cat','monkey','dog','fish')
print('third element of index:',h[3])

third element of index: fish

In [ ]:
#Write a code to combine two dictionaries into one and print the result.
d = {'a': 1, 'c': 2, 'd': 3}
r = {'f': 4, 'l': 5, 'm': 6}


merged_dict = d.copy()
merged_dict.update(r)

print(merged_dict)

{'a': 1, 'c': 2, 'd': 3, 'f': 4, 'l': 5, 'm': 6}

In [ ]:
 #Write a code to convert a list of strings into a set
 list=('abc','def','hgk')
 print(set(list))

{'def', 'abc', 'hgk'}

**Data Types and Structures Questions**

In [ ]:
#What are data structures, and why are they important?
#Data structures are ways to organize and store data efficiently in memory. They are crucial because they optimize data access, retrieval, and manipulation, making programs faster and more efficient. Common Python data structures include lists, tuples, dictionaries, sets, and more.

In [1]:
#Explain the difference between mutable and immutable data types with examples.
#Mutable: Can be changed after creation. Example: Lists (list), Dictionaries (dict), Sets (set).

my_list = [1, 2, 3]
my_list[0] = 10  # Allowed, modifies the list

#Immutable: Cannot be changed after creation. Example: Tuples (tuple), Strings (str).

my_tuple = (1, 2, 3)
my_tuple[0] = 10  # Error: Tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
#What are the main differences between lists and tuples in Python?
#Lists and tuples in Python are both used to store collections of items, but they have key differences. Lists are mutable, meaning their elements can be changed, added, or removed after creation, making them suitable for situations where data needs modification. In contrast, tuples are immutable, meaning their elements cannot be changed once assigned, making them ideal for storing constant data. Due to their immutability, tuples are faster than lists in terms of performance, especially when iterating over large datasets. Lists are defined using square brackets ([]), whereas tuples use parentheses (()). While lists are commonly used when frequent modifications are needed, tuples are preferred when data integrity and consistency are required, such as storing fixed values like coordinates or database records.

In [3]:
# Describe how dictionaries store data.
#Dictionaries store data as key-value pairs using a hash table. Each key is hashed to determine its index in memory, making lookup operations very fast (O(1) average time complexity).

my_dict = {"name": "Alice", "age": 25}
print(my_dict["name"])

Alice

In [4]:
#Why might you use a set instead of a list in Python?
#Sets automatically remove duplicate values.
#Faster lookup (O(1) time complexity) compared to lists (O(n)).
#Ideal for membership tests.

my_set = {1, 2, 3, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [5]:
#What is a string in Python, and how is it different from a list?
#A string is an immutable sequence of characters, while a list is a mutable sequence of elements.
s = "hello"
s[0] = "H"  # Error: Strings are immutable

lst = ["h", "e", "l", "l", "o"]
lst[0] = "H"  # Allowed, lists are mutable

TypeError: 'str' object does not support item assignment

In [ ]:
#How do tuples ensure data integrity in Python?
#Tuples are immutable, meaning their values cannot be changed. This ensures that data remains unchanged, making them useful for fixed collections like database records.

In [ ]:
# What is a hash table, and how does it relate to dictionaries in Python?
#A hash table is a data structure that maps keys to values using a hash function. Python’s dictionaries use hash tables for fast key lookups (O(1) average time complexity).

In [6]:
#Can lists contain different data types in Python?
#Yes, lists can store different data types.

mixed_list = [1, "hello", 3.14, [1, 2, 3]]

In [ ]:
# Explain why strings are immutable in Python.
#Strings are immutable to optimize memory usage and performance. Since strings are commonly used, immutability prevents unintended modifications and allows efficient memory allocation.

In [ ]:
#What advantages do dictionaries offer over lists for certain tasks?
#Fast lookup (O(1) vs. O(n) for lists).
#Key-value pairing makes data more structured.
#Ideal for storing relationships (e.g., name-to-phone-number mapping).

In [ ]:
#Describe a scenario where using a tuple would be preferable over a list.
#When returning multiple values from a function.
#When using dictionary keys (since keys must be immutable).
#When working with constant data like geographic coordinates (latitude, longitude).

In [7]:
#How do sets handle duplicate values in Python?
#Sets automatically eliminate duplicate values when storing data.

nums = {1, 2, 2, 3}
print(nums)

{1, 2, 3}

In [8]:
#How does the “in” keyword work differently for lists and dictionaries?
#In lists, in checks if a value exists (O(n) time).

#In dictionaries, in checks if a key exists (O(1) time).

print(2 in [1, 2, 3])  # True
print("name" in {"name": "Alice", "age": 25})

True
True

In [9]:
#Can you modify the elements of a tuple? Explain why or why not.
#No, tuples are immutable. Once created, their elements cannot be modified.

t = (1, 2, 3)
t[0] = 10  # Error: Tuples cannot be modified

TypeError: 'tuple' object does not support item assignment

In [10]:
#What is a nested dictionary, and give an example of its use case.
#A nested dictionary is a dictionary inside another dictionary. Useful for hierarchical data like user profiles.


users = {
    "Alice": {"age": 25, "city": "NY"},
    "Bob": {"age": 30, "city": "LA"}
}
print(users["Alice"]["city"])

NY

In [11]:
#Describe the time complexity of accessing elements in a dictionary.
#Average case: O(1) (direct hash lookup).

#Worst case: O(n) (if hash collisions occur).

In [ ]:
#In what situations are lists preferred over dictionaries?
#When maintaining an ordered collection of elements.

#When iterating sequentially over elements.

#When duplicate values are needed.

In [ ]:
#Why are dictionaries considered unordered, and how does that affect data retrieval?
#Dictionaries prior to Python 3.7 were unordered, meaning insertion order wasn’t preserved. However, from Python 3.7+, insertion order is maintained. Data retrieval is still based on key lookup, not position.

In [ ]:
#xplain the difference between a list and a dictionary in terms of data retrieval.
#List: Retrieves elements by index (O(1) for direct access, O(n) for searching).

#Dictionary: Retrieves elements by key (O(1) average case).